<!DOCTYPE html>
<html>
<head>
  <title>NJEduThing</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  </nav>
  <h1>The State of New Jersey, Education Matters</h1>
<%= yield %>

</body>
</html>
